/* Regole generali */
:root {
    --green: #009688;
    --lime: #D5F9BA;
    --light-blue: #8EDAFC;
    --first-white: #D8DBD5;
    --second-white: #E9EBEB;
    --first-grey: #B1B1B1;
    --second-grey: #EAEAEA;
    ---light-black: #6B7376;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0px auto;
}

/* App */
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.main-header {
    background-color: var(--green);
    height: 150px;
    flex-shrink: 0;
}

/* Main */
.main-content {
    background-color: var(--first-white);
    flex-grow: 1;
}

/* Boolzapp */
.boolzapp {
    width: 100%;
    min-height: 700px;
    background-color: var(---light-black);
    margin-top: -125px;
    padding: 50px;
}