/* Regole generali */
:root {
    --green: #009688;
    --lime: #D5F9BA;
    --light-blue: #8EDAFC;
    --first-white: #D8DBD5;
    --second-white: #E9EBEB;
    --first-grey: #B1B1B1;
    --second-grey: #EAEAEA;
    --light-black: #6B7376;
    --dust: #E5DDD5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style-type: none;
}

/* Container */
.container {
    max-width: 1400px;
    margin: 0px auto;
}

/* App */
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.main-header {
    background-color: var(--green);
    height: 150px;
    flex-shrink: 0;
}

/* Main */
.main-content {
    background-color: var(--first-white);
    flex-grow: 1;
}

/* Boolzapp */
.boolzapp {
    margin-top: -125px;
    width: 100%;
    height: 700px;
    display: flex;
    border: 1px solid black;
}

/* Chat */
.chat {
    width: 560px;
    display: flex;
    flex-direction: column;
}

/* Profilo */
.profile {
    background-color: var(--second-grey);
    padding: 10px 15px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Informazioni del profilo */
.profile__info {
    display: flex;
    align-items: center;
}

/* Immagine del profilo */
.profile__info--img img {
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 999px;
}

/* Azioni del profilo */
.profile__actions {
    color: var(--first-grey);
    font-size: 22px;
    display: flex;
    gap: 20px;
}

/* Notifiche */
.notifications {
    padding: 15px 20px;
    background-color: var(--light-blue);
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Immagine delle notifiche */
.notifications__img {
    width: 50px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 999px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: var(--light-blue);
}

/* Attivazione delle notifiche */
.notifications__hint--able {
    color: var(--light-black);
    text-decoration: underline;
    font-size: 14px;
}

/* Ricerca */
.search {
    padding: 10px;
    background-color: var(--second-white);
}

/* Barra di ricerca */
.search__bar {
    height: 40px;
    display: flex;
}

/* Bottone della barra di ricerca */
.search__bar--btn {
    width: 75px;
    font-size: 16px;
    background-color: white;
    color: var(--first-grey);
    border: 1px solid var(--first-grey);
    cursor: pointer;
}

/* Input della barra di ricerca */
.search__bar--input {
    font-size: 14px;
    padding: 10px;
    border: 1px solid var(--first-grey);
    flex-grow: 1;
}

/* Messaggi */
.messages {
    background-color: white;
    flex-grow: 1;
    overflow-y: scroll;
}

/* Elemento della lista dei messaggi */
.list-item {
    border-bottom: 1px solid var(--first-grey);
}

.active {
    background-color: var(--first-white);
}

/* Carta */
.card {
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}

/* Immagine della carta */
.card__img img {
    width: 65px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 999px;
}

/* Informazioni della carta */
.card__info {
    flex-grow: 1;
}

/* Nome della carta */
.card__info--name {
    font-size: 18px;
}

/* Testo della carta */
.card__info--text {
    font-size: 14px;
    color: var(--first-grey);
}

/* Tempo della carta */
.card__time {
    font-size: 14px;
    color: var(--first-grey);
}

/* Conversazione */
.conversation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Testa della conversazione */
.conversation__head {
    background-color: var(--second-grey);
    padding: 10px 15px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Persona */
.person {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Immagine della persona */
.person__img img {
    width: 55px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 999px;
}

/* Ultimo accesso */
.person__info--access {
    font-size: 14px;
    color: var(--light-black);
}

/* Azioni della conversazione */
.conversation__head--actions {
    color: var(--first-grey);
    font-size: 22px;
    display: flex;
    gap: 20px;
}

/* Corpo della conversazione */
.conversation__body {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: var(--dust);
    background-image: url("../img/doodles.jpg");
    background-position: center;;
    background-size: contain;
}

/* Contenuto della conversazione */
.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Messaggio */
.message {
    width: 330px;
    border-radius: 12px;
    padding: 15px;
}

/* Orario del messaggio */
.message__time {
    font-size: 12px;
    text-align: right;
    color: var(--light-black);
}

/* Mittente */
.sender {
    background-color: var(--lime);
    align-self: flex-end;
}

/* Destinatario */
.receiver {
    background-color: white;
    align-self: flex-start;
}