/* Regole generali */
:root {
    --green: #009688;
    --lime: #D5F9BA;
    --light-blue: #8EDAFC;
    --first-white: #D8DBD5;
    --second-white: #E9EBEB;
    --first-grey: #B1B1B1;
    --second-grey: #EAEAEA;
    ---light-black: #6B7376;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
    max-width: 1400px;
    margin: 0px auto;
}

/* App */
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.main-header {
    background-color: var(--green);
    height: 150px;
    flex-shrink: 0;
}

/* Main */
.main-content {
    background-color: var(--first-white);
    flex-grow: 1;
}

/* Boolzapp */
.boolzapp {
    margin-top: -125px;
    width: 100%;
    min-height: 700px;
    display: flex;
    border: 1px solid black;
}

/* Chat */
.chat {
    width: 560px;
}

/* Profilo */
.profile {
    background-color: var(--second-grey);
    padding: 10px;
}

/* Informazioni del profilo */
.profile__info {
    display: flex;
    align-items: center;
}

/* Immagine del profilo */
.profile__info--img img {
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 999px;
}


/* Conversazione */
.conversation {
    flex-grow: 1;
    background-color: brown;
}