<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae23fa42a2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Vue Boolzapp</title>
</head>
<body>
    <!-- Header -->
    <header class="main-header">
    </header>
    <!-- Main -->
    <main class="main-content">
        <!-- Container -->
        <div class="container">
            <!-- Vue -->
            <div id="app">
                <!-- Boolzapp -->
                <div class="boolzapp">
                    <!-- Chat -->
                    <div class="chat">
                        <!-- Profilo -->
                        <div class="profile">
                            <!-- Informazioni del profilo -->
                            <div class="profile__info">
                                <!-- Immagine profilo -->
                                <div class="profile__info--img">
                                    <!-- Immagine -->
                                    <img src="./img/sofia.jpg" alt="Sofia">
                                </div>
                                <!-- Nome del profilo -->
                                <div class="profile__info--name">
                                    <!-- Nome -->
                                    <span>Sofia</span>
                                </div>
                            </div>
                            <!-- Azioni del profilo -->
                            <div class="profile__actions">
                                <!-- Storie -->
                                <span class="profile__actions--stories">
                                    <i class="fa-solid fa-circle-notch"></i>
                                </span>
                                <!-- Contatti -->
                                <span class="profile__actions--contacts">
                                    <i class="fa-solid fa-message"></i>
                                </span>
                                <!-- Opzioni -->
                                <span class="profile__actions--options">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </span>
                            </div>
                        </div>
                        <!-- Notifiche -->
                        <div class="notifications">
                            <!-- Immagine delle notifiche -->
                            <div class="notifications__img">
                                <!-- Immagine -->
                                <span>
                                    <i class="fa-regular fa-bell-slash"></i>
                                </span>
                            </div>
                            <!-- Consiglio di attivare le notifiche -->
                            <div class="notifications__hint">
                                <!-- Testo -->
                                <p class="notifications__hint--text">
                                    Ricevi notifiche di nuovi messaggi
                                </p>
                                <!-- Attivazione notifiche -->
                                <p class="notifications__hint--able">
                                    Attiva notifiche desktop
                                </p>
                            </div>
                        </div>
                        <!-- Barra di ricerca -->
                        <div class="search">
                            <!-- Barra -->
                            <div class="search__bar">
                                <!-- Bottone -->
                                <button class="search__bar--btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <!-- Input -->
                                <input class="search__bar--input" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchValue">
                            </div>
                        </div>
                        <!-- Messaggi -->
                        <div class="messages">
                            <!-- Lista dei messaggi -->
                            <ul class="list">
                                <!-- Elemento della lista -->
                                <li class="list-item" v-for="(contact, i) in contacts" v-bind:class="(currentActive === i) ? 'active' : ''" v-on:click="setActive(i)" v-show="(contact.name.toLowerCase().includes(searchValue.toLowerCase()))">
                                    <!-- Carta -->
                                    <div class="card">
                                        <!-- Immagine della carta -->
                                        <div class="card__img">
                                            <!-- Immagine -->
                                            <img v-bind:src="contact.avatar" v-bind:alt="contact.name">
                                        </div>
                                        <!-- Informazioni della carta -->
                                        <div class="card__info">
                                            <!-- Nome -->
                                            <div class="card__info--name">
                                                {{ contact.name }}
                                            </div>
                                            <!-- Testo -->
                                            <div class="card__info--text">
                                                Ultimo messaggio inviato
                                            </div>
                                        </div>
                                        <!-- Tempo -->
                                        <div class="card__time">
                                            12:00
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Conversazione -->
                    <div class="conversation">
                        <!-- Testa della conversazione -->
                        <div class="conversation__head">
                            <!-- Persona -->
                            <div class="person">
                                <!-- Immagine della persona -->
                                <div class="person__img">
                                    <!-- Immagine -->
                                    <img v-bind:src="contacts[currentActive].avatar" v-bind:alt="contacts[currentActive].name">
                                </div>
                                <!-- Informazioni della persona -->
                                <div class="person__info">
                                    <!-- Nome -->
                                    <p class="person__info--name">
                                        {{ contacts[currentActive].name }}
                                    </p>
                                    <!-- Ultimo accesso -->
                                    <p class="person__info--access">
                                        Ultimo accesso oggi alle 12:00
                                    </p>
                                </div>
                            </div>
                            <!-- Azioni -->
                            <div class="conversation__head--actions">
                                <!-- Ricerca -->
                                <span>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                <!-- Allegato -->
                                <span>
                                    <i class="fa-solid fa-paperclip"></i>
                                </span>
                                <!-- Opzioni -->
                                <span>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </span>
                            </div>
                        </div>
                        <!-- Corpo della conversazione -->
                        <div class="conversation__body">
                            <!-- Contenuto della conversazione -->
                            <ul class="content">
                                <!-- Messaggio -->
                                <li class="message" v-for="(content, i) in contacts[currentActive].messages" v-bind:class="content.status">
                                    <!-- Contenuto -->
                                    <div class="message__content">
                                        <!-- Testo -->
                                        <div class="message__content--text">
                                            {{ content.message }}
                                        </div>
                                        <!-- Bottone -->
                                        <div class="message__btn" v-on:click="showOptions(i)">
                                            <!-- Icona -->
                                            <i class="fa-solid fa-chevron-down"></i>
                                            <!-- Opzioni -->
                                            <ul class="message__options" v-bind:id="'msg-' + i">
                                                <!-- Cancella il messaggio -->
                                                <li class="message__options--delete" v-on:click="deleteMessage(i)">Cancella il messaggio</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Orario -->
                                    <div class="message__time">
                                        {{ getOnlyTime(content.date) }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Piede della conversazione -->
                        <div class="conversation__footer">
                            <!-- Emoji -->
                            <div class="emoji">
                                <!-- Icona emoji -->
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <!-- Testo del messaggio -->
                            <div class="text">
                                <!-- Input -->
                                <input class="text__input" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" v-on:keyup.enter="sendMessage()">
                            </div>
                            <!-- Audio -->
                            <div class="audio">
                                <!-- Microfono -->
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JavaScript -->
    <script src="./js/app.js"></script>
</body>
</html>